<footer class="footer-minimal text-center">
    <div class="container">
        <ul class="list-unstyled list-inline">
            <li>
                <a ui-sref="main.about-us">{{"footer.links.about"}}</a>
            </li>
            <li>
                <a ui-sref="main.privacy">{{"footer.links.privacy"}}</a>
            </li>
            <li>
                <a ui-sref="main.terms">{{"footer.links.terms"}}</a>
            </li>
        </ul>
        <ul class="list-inline social-icons light-icons">
            <li>
                <a href="#" class="facebook-bg">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="twitter-bg">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a href="#" class="googleplus-bg">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a href="#" class="rss-bg">
                    <i class="fa fa-rss"></i>
                </a>
            </li>
        </ul>
        <div class="copyright">
            ©{{"footer.copyright"}}
        </div>
    </div>
</footer>
