<div class="container login">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Login</h1>
            <p>Admin account is <code>admin@admin.com</code> / <code>admin</code></p>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <form class="form" name="vm.form" ng-submit="vm.login()" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls" ng-class="{ 'has-success': vm.form.email.$valid && vm.submitted,'has-error': vm.form.email.$invalid && vm.submitted }">
                        <label>Email</label>
                        <input type="email" class="form-control" placeholder="Email Address" name="email" ng-model="vm.user.email" required>
                        <p class="help-block" ng-show="vm.form.email.$error.email && vm.submitted">
                            Doesn't look like a valid email.
                        </p>
                        <p class="help-block" ng-show="vm.form.email.$error.required && vm.submitted">
                            What's your email address?
                        </p>
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls" ng-class="{ 'has-success': vm.form.password.$valid && vm.submitted,'has-error': vm.form.password.$invalid && vm.submitted }">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.user.password" required>
                        <p class="help-block" ng-show="vm.form.password.$error.required && vm.submitted">
                            Please enter your password.
                        </p>
                    </div>
                </div>
                <p class="help-block error">{{errors.other}}</p>
                <div class="row text-center buttons">
                    <button type="submit" class="btn btn-success btn-lg">Login</button>
                    <a href="/signup">
                        <button class="btn btn-success btn-lg">Register</button>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>
