<div class="container change-password">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Change Password</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <form class="form" name="vm.form" ng-submit="vm.changePassword()" novalidate>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls" ng-class="{ 'has-success': vm.form.password.$valid && vm.submitted,'has-error': vm.form.password.$invalid && vm.submitted }">
                        <label>Password</label>
                        <input type="password" class="form-control" placeholder="Password" name="password" ng-model="vm.user.oldPassword" required>
                        <p class="help-block" ng-show="vm.form.password.$error.required && vm.submitted">
                            Please enter your password.
                        </p>
                    </div>
                </div>
                <div class="row control-group" ng-class="{ 'has-success': vm.form.newPassword.$valid && vm.submitted,'has-error': vm.form.newPassword.$invalid && vm.submitted }">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>New password</label>
                        <input type="password" class="form-control" placeholder="New password" name="newPassword" ng-model="vm.user.newPassword" ng-minlength="3" required>
                        <p class="help-block" ng-show="(vm.form.newPassword.$error.minlength || vm.form.newPassword.$error.required) && vm.submitted">
                            Password must be at least 3 characters.
                        </p>
                    </div>
                </div>
                <div class="row text-center buttons">
                    <p class="help-block"> {{ vm.message }} </p>
                    <button type="submit" class="btn btn-success btn-lg">Save</button>
                </div>
        </form>
        </div>
    </div>
</div>