header {
    text-align: center;
    background: @brand-success;
    color: @text-main;
    .container {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    img {
        display: block;
        margin: 0 auto 20px;
    }
    .intro-text {
        .name {
            display: block;
            font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
            text-transform: uppercase;
            font-weight: 700;
            font-size: 2em;
        }
        .skills {
            font-size: 1.25em;
            font-weight: 300;
        }
    }
}
ng-header {
    .navbar {
        font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        font-weight: 700;
        background-color: @brand-primary;
        border: none;
        a:focus {
            outline: none;
        }
        .navbar-nav {
            letter-spacing: 1px;
            li {
                a {
                    color: @text-main;
                     &:hover,
                     &:focus {
                        outline: none;
                        color: @brand-success;
                    }
                }
            }
        }
        .active > a {
            background-color: @brand-success!important;
        }
        .navbar-text,
        .fa-user {
            color: @text-main;
        }
        .navbar-brand {
            color: @text-main;
            &:hover,
            &:focus {
                color: @brand-success;
                background-color: transparent
            }
        }
    }
}

@media(min-width:768px) {
    header {
        .container {
            padding-top: 200px;
            padding-bottom: 100px;
        }
        .intro-text {
            .name {
                font-size: 4.75em;
            }
            .skills {
                font-size: 1.75em;
            }
        }
    }
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        .navbar-brand {
              font-size: 2em;
              -webkit-transition: all 0.3s;
              -moz-transition: all 0.3s;
              transition: all 0.3s;
        }
    }
}