<div class="container edit-post">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Edit Post</h1>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <form class="form" name="vm.form" ng-submit="vm.editPost()" novalidate>
                <div class="row control-group" ng-class="{ 'has-success': vm.form.title.$valid && vm.submitted,'has-error': vm.form.title.$invalid && vm.submitted }">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" ng-model="vm.post.title" required>
                        <p class="help-block" ng-show="vm.form.title.$error.required && vm.submitted">
                            Title is required
                        </p>
                    </div>
                </div>
                <div class="row control-group" ng-class="{ 'has-success': vm.form.description.$valid && vm.submitted,'has-error': vm.form.description.$invalid && vm.submitted }">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <h5>Post</h5>
                        <div text-angular ng-model="vm.post.description" name="description" required></div>
                        <p class="help-block" ng-show="vm.form.description.$error.required && vm.submitted">
                            Description is required
                        </p>
                    </div>
                </div>
                <div class="row text-center buttons">
                    <button type="submit" class="btn btn-success btn-lg">
                        SAVE
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
